<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../assets/style.css">
</head>
<body>
    <h1>{{pageTitle}}</h1>
    <p style="color: red">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus eius iste et, consequuntur, doloremque alias mollitia ducimus exercitationem totam amet omnis nesciunt a? Magni, provident fugiat inventore tenetur odit sit?</p>
    <input type="text" id="example">
    <button id="action">Klik</button>
    <p id="text"></p>
    <script src="./../js/func.js"></script>

</body>
</html>